.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: maroon;
  padding: 10px 30px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
  margin-right: 10px;
}

.website-name {
  color: white;
  font-size: 20px;
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: black
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: maroon;
  padding: 10px 30px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;    
  margin: 0;
  padding: 0;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.nav-links li a:hover {
  color: lightgray;
}